@import "fontawesome5/fontawesome";
@import "fontawesome5/brands";
@import "fontawesome5/regular";
@import "fontawesome5/solid";
@import 'typography';

// Variable
$color: #1fc4ff;
$text_color: #1f1f1f;

// Breakpoint
$large: 1024px;
$medium: 768px;
$small:  570px;


// Convert px to (r)em
$font-size: 16;

@function rem-calc($size, $font-size : $font-size) {
	$font-size: $font-size + 0px;
	$remSize: $size / $font-size;
	@return #{$remSize}rem;
}

@function em-calc($size, $font-size : $font-size) {
	$font-size: $font-size + 0px;
	$remSize: $size / $font-size;
	@return #{$remSize}em;
}


.ymc-smart-filter-container {

	font-family: "Poppins";
	font-weight: 400;
	box-sizing: border-box;
	min-height: rem-calc(500px);
	position: relative;

	*:active, *:focus {
		outline: none;
		box-shadow: none;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	.far {
		font-size: rem-calc(18px);
	}

	.notice {
		border: none;
		box-shadow: none;
		color: #eb2b2b;
	}

	.loading {
		//opacity: .3;
	}

	.preloader {
		position: absolute;
		width: 300px;
		top: 50%;
		left: 50%;
		z-index: 9;
		transform: translate(-50%, -50%);
	}

	.ymc-notification {
		grid-column: 1/-1;
		text-align: center;
		color: #000;
	}

	// Filters styles
	.filter-layout {

		&.filter-layout1 {
			.filter-entry {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				list-style: none;
				margin: 0 0 rem-calc(40px) 0;
				padding: 0;
				.filter-item {
					margin: 10px 10px ;
					.filter-link {
						display: inline-block;
						padding: rem-calc(10px) rem-calc(10px);
						font-size: rem-calc(16px);
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		&.filter-layout2 {
			.filter-entry {
				list-style: none;
				margin: 0 0 rem-calc(40px) 0;
				padding: 0;

				.group-filters {
					margin-bottom: rem-calc(20px);
					.name-tax {
						font-size: rem-calc(18px);
						text-transform: uppercase;
						font-weight: 600;
						border-bottom: 2px solid;
						display: inline-block;
						padding-bottom: 3px;
					}
					.sub-filters {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						list-style: none;
						margin: 0;
						padding: 0;
					}
				}

				.filter-item {
					margin: 10px 10px ;
					&:first-child {
						margin-left: 0;
					}
					.filter-link {
						display: inline-block;
						padding: rem-calc(10px) rem-calc(10px);
						font-size: rem-calc(16px);
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

	}

	// Posts style
	.container-posts {
		position: relative;
		.post-entry {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: rem-calc(40px);

			// Style for Post Layout 1
			&.post-layout1 {
				.ymc-post-layout1 {
					padding: rem-calc(20px);
					.media {
						margin: 0 0 20px 0;
						overflow: hidden;
						img {
							width: 100%;
							height: rem-calc(220px);
							object-fit: cover;
						}
					}
					.category {
						margin-bottom: rem-calc(20px);
						.cat-inner {
							font-size: rem-calc(12px);
							border-radius: 3px;
							display: inline-block;
							padding: rem-calc(7px) rem-calc(10px);
							background: #000;
							margin-right: 5px;
							color: white;
						}
					}
					.title {
						font-size: rem-calc(22px);
						font-weight: 600;
						margin-bottom: rem-calc(10px);
					}
					.date {
						font-size: rem-calc(14px);
						margin-bottom: rem-calc(10px);
						border-bottom: 1px solid #fff;
						padding-bottom: rem-calc(5px);
						i {
							margin-right: rem-calc(5px);
						}
					}
					.excerpt {
						font-size: rem-calc(16px);
						line-height: 1.4;
						margin-bottom: rem-calc(10px);
					}
					.read-more {
						text-align: right;
						.btn {
							text-decoration: none;
							background: #000;
							color: white;
							padding: rem-calc(5px) rem-calc(10px);
							font-size: rem-calc(12px);
						}
					}
					&:hover {
						img {
							transform: scale(1.2);
							transition: .3s;
						}
					}
				}
			}
		}
	}

	// Pagination style
	.ymc-pagination {
		list-style: none;
		min-height: 0;

		&.pagination-default {
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin-right: rem-calc(15px);
				a {
					padding: 5px 10px;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		&.pagination-load-more {
			text-align: center;
			.btn-load {
				padding: 5px 10px;
				text-decoration: none;
				transition: .3s;
				color: #098ab8;
				border: 1px solid #098ab8;
			}
		}
	}

	// Filter sticky for pagination scroll infinity
	&.ymc-pagination-scroll-infinity {
		.filter-layout {
			position: sticky;
			top: rem-calc(20px);
			z-index: 9;
			background: #fff;
		}
	}

}






