@import "fontawesome5/fontawesome";
@import "fontawesome5/brands";
@import "fontawesome5/regular";
@import "fontawesome5/solid";
@import 'typography';

// Variable
$color: #1fc4ff;
$text_color: #1f1f1f;

// Breakpoint
$large: 1024px;
$medium: 768px;
$small:  570px;


// Convert px to (r)em
$font-size: 16;

@function rem-calc($size, $font-size : $font-size) {
	$font-size: $font-size + 0px;
	$remSize: $size / $font-size;
	@return #{$remSize}rem;
}

@function em-calc($size, $font-size : $font-size) {
	$font-size: $font-size + 0px;
	$remSize: $size / $font-size;
	@return #{$remSize}em;
}


.ymc-smart-container {

	font-family: "Poppins";
	font-weight: 400;
	box-sizing: border-box;
	min-height: rem-calc(500px);

	*:active, *:focus {
		outline: none;
		box-shadow: none;
	}
	*::-moz-focus-inner {
		border: 0;
	}
	.far {
		font-size: rem-calc(18px);
	}

	.notice {
		border: none;
		box-shadow: none;
		color: #eb2b2b;
	}

	.loading {
		//opacity: .3;
	}

	.preloader {
		position: absolute;
		width: 300px;
		top: 50%;
		left: 50%;
		z-index: 9;
		transform: translate(-50%, -50%);
	}

	.ymc-notification {
		text-align: center;
	}

	// Filters styles
	.filter-layout {
		.filter-entry {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			list-style: none;
			margin: 0 0 rem-calc(40px) 0;
			padding: 0;
			.filter-item {
				margin: 10px 10px ;
				.filter-link {
					display: inline-block;
					padding: rem-calc(10px) rem-calc(10px);
					font-size: rem-calc(16px);
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	// Posts style
	.container-posts {
		position: relative;
		.post-entry {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: rem-calc(40px);

			// Style for Post Layout 1
			&.post-layout1 {
				.ymc-post-layout1 {
					padding: rem-calc(20px);
					.media {
						margin: 0 0 20px 0;
						img {
							width: 100%;
							height: rem-calc(220px);
							object-fit: cover;
						}
					}
					.title {
						font-size: rem-calc(22px);
						font-weight: 600;
						margin-bottom: rem-calc(10px);
					}
					.date {
						font-size: rem-calc(14px);
						margin-bottom: rem-calc(10px);
						border-bottom: 1px solid #fff;
						padding-bottom: rem-calc(5px);
						i {
							margin-right: rem-calc(5px);
						}
					}
					.excerpt {
						font-size: rem-calc(16px);
						line-height: 1.4;
						margin-bottom: rem-calc(10px);
					}
					.read-more {
						text-align: right;
						.btn {
							text-decoration: none;
							background: #fff;
							padding: rem-calc(5px) rem-calc(10px);
							font-size: rem-calc(12px);
						}
					}
				}
			}
		}
	}


	// Pagination style
	.ymc-pagination {
		list-style: none;
		min-height: 0;
		&.pagination-default {
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin-right: rem-calc(15px);
				a {
					padding: 5px 10px;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

}






