@import "fontawesome5/fontawesome";
@import "fontawesome5/brands";
@import "fontawesome5/regular";
@import "fontawesome5/solid";
@import 'typography';

// Variable
$color: #1fc4ff;
$text_color: #1f1f1f;

// Breakpoint
$large: 1024px;
$medium: 768px;
$small:  570px;


// Convert px to (r)em
$font-size: 16;

@function rem-calc($size, $font-size : $font-size) {
	$font-size: $font-size;
	$remSize: $size / $font-size;
	@return #{$remSize}rem;
}

@function em-calc($size, $font-size : $font-size) {
	$font-size: $font-size;
	$remSize: $size / $font-size;
	@return #{$remSize}em;
}


.ymc-smart-filter-container {

	font-family: "Poppins";
	font-weight: 400;
	box-sizing: border-box;
	min-height: 500px;
	position: relative;
	max-width: 100%;
	width: 100%;


	*:active, *:focus {
		outline: none;
		box-shadow: none;
	}

	*::-moz-focus-inner {
		border: 0;
	}

	.far {
		font-size: 18p;
	}

	.notice {
		border: none;
		box-shadow: none;
		color: #eb2b2b;
	}

	.loading {
		//opacity: .3;
	}

	.preloader {
		position: absolute;
		width: 300px;
		top: 50%;
		left: 50%;
		z-index: 9;
		transform: translate(-50%, -50%);
	}

	.ymc-notification {
		grid-column: 1/-1;
		text-align: center;
		color: #000;
	}

	// Filters styles
	.filter-layout {

		&.filter-layout1 {
			.filter-entry {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				list-style: none;
				margin: 0 0 40px 0;
				padding: 0;
				.filter-item {
					margin: 10px 10px ;
					.filter-link {
						display: inline-block;
						padding: 7px 15px;
						border-radius: 5px;
						font-size: 16px;
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		&.filter-layout2 {
			.filter-entry {
				list-style: none;
				margin: 0 0 40px 0;
				padding: 0;

				.group-filters {
					.name-tax {
						font-size: 18px;
						text-transform: uppercase;
						font-weight: 600;
						border-bottom: 2px solid;
						display: inline-block;
						padding-bottom: 3px;
						margin: 0;
					}
					.sub-filters {
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						list-style: none;
						margin: 0;
						padding: 0;
					}
				}

				.filter-item {
					margin: 10px 10px ;
					&:first-child {
						margin-left: 0;
					}
					.filter-link {
						display: inline-block;
						padding: 10px 10px;
						font-size: 16px;
						text-decoration: none;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}

		&.filter-layout3 {
			.btn-all {
				display: inline-block;
				border: 1px solid #141518;
				padding: 10px;
				font-size: 16px;
				margin-right: 10px;
				text-decoration: none;
				color: #141518;
			}
			.dropdown-filter {
				font-size: 16px;
				display: inline-block;
				position: relative;
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				.menu-active {
					border: 1px solid #141518;
					padding: 10px 30px;
					min-width: 300px;
					width: 100%;
					position: relative;
					cursor: pointer;
					margin-bottom: 20px;
					text-transform: capitalize;
					.arrow {
						position: absolute;
						right: 13px;
						top: 50%;
						z-index: -1;
						width: 0;
						height: 0;
						border: solid #141518;
						border-width: 0 3px 3px 0;
						padding: 3px;
						transform: translateY(-50%) rotate(45deg);
						transition: .3s;
						&.open {
							transform: rotate(227deg);
						}
					}
				}
				.menu-passive {
					display: none;
					max-width: 300px;
					margin-top: 12px;
					padding: 30px 20px 15px 20px;
					background: #141518;
					color: #FAF7ED;
					position: absolute;
					left: 0;
					top: 40px;
					width: 100%;
					z-index: 2;
					transition: .3s;
					&:before {
						content: '';
						position: absolute;
						width: 15px;
						height: 15px;
						background: #141518;
						left: 10px;
						top: -14px;
						clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
					}

					.btn-close {
						position: absolute;
						right: 15px;
						top: 15px;
						font-size: 14px;
						font-style: normal;
						cursor: pointer;
					}

					&__item {
						padding: 8px 0;
						.menu-link {
							color: #fff;
							position: relative;
							padding-left: 25px;
							font-size: 14px;
							display: inline-block;
							word-break: break-word;
							line-height: 1.35;
							&:before {
								content: '';
								position: absolute;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								width: 17px;
								height: 17px;
								border: 1px solid #fff
							}
							&:after {
								content: '';
								position: absolute;
								left: 4px;
								top: 50%;
								width: 9px;
								height: 5px;
								border-radius: 1px;
								border-left: 3px solid #FAF7ED;
								border-bottom: 3px solid #FAF7ED;
								transform: translateY(-50%) rotate(-45deg);
								opacity: 0;
								transition: .3s;
							}
							&:hover {
								text-decoration: none;
							}
							&.active {
								&:after {
									opacity: 1;
								}
							}
						}
					}
				}
			}
			.selected-items {
				.item {
					border: 1px solid #000;
					padding: 7px 30px 7px 10px;
					margin: 0 10px 10px 0;
					display: inline-block;
					border-radius: 15px;
					font-size: 12px;
					background: #000;
					color: #fff;
					position: relative;
					small {
						position: absolute;
						right: 10px;
						top: 6px;
						width: 11px;
						height: 11px;
						font-size: 12px;
						display: inline-block;
						text-align: center;
						cursor: pointer;
					}
				}
			}
		}
	}

	// Posts style
	.container-posts {
		position: relative;
		.post-entry {
			display: grid;
			grid-gap: 20px;
			grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
			margin-bottom: 40px;

			// Style for Post Layout 1
			&.post-layout1 {
				.ymc-post-layout1 {
					position: relative;
					padding: 20px;
					border: 1px solid #222;
					.media {
						margin: 0 0 20px 0;
						overflow: hidden;
						img {
							width: 100%;
							height: 220px;
							object-fit: cover;
						}
					}
					.category {
						margin-bottom: 20px;
						.cat-inner {
							font-size: 12px;
							border-radius: 3px;
							display: inline-block;
							padding: 7px 10px;
							background: #000;
							margin-right: 5px;
							margin-bottom: 5px;
							color: white;
						}
					}
					.title {
						font-size: 22px;
						font-weight: 600;
						margin-bottom: 10px;
					}
					.date {
						font-size: 14px;
						margin-bottom: 10px;
						border-bottom: 1px solid #fff;
						padding-bottom: 5px;
						i {
							margin-right: 5px;
						}
					}
					.excerpt {
						font-size: 16px;
						line-height: 1.4;
						margin-bottom: 10px;
					}
					.read-more {
						text-align: right;
						.btn {
							display: inline-block;
							text-decoration: none;
							background: #000;
							color: white;
							padding: 5px 10px;
							font-size: 12px;
							line-height: 1.5;
						}
					}
					&:hover {
						img {
							transform: scale(1.2);
							transition: .3s;
						}
					}
				}
			}

			// Style for Post Layout 2
			&.post-layout2 {
				.ymc-post-layout2 {
					position: relative;
					padding: 20px 20px 40px 20px;
					border: 1px solid #222;
					.category {
						margin-bottom: 20px;
						.cat-inner {
							font-size: 12px;
							border-radius: 20px;
							display: inline-block;
							padding: 3px 15px;
							background: #000;
							margin-right: 5px;
							margin-bottom: 4px;
							color: white;
						}
					}
					.title {
						font-size: 22px;
						font-weight: 600;
						margin-bottom: 10px;
					}
					.date {
						font-size: 14px;
						margin-bottom: 10px;
						border-bottom: 1px solid #fff;
						padding-bottom: 5px;
						i {
							margin-right: 5px;
						}
					}
					.excerpt {
						font-size: 16px;
						line-height: 1.4;
						margin-bottom: 10px;
					}
					.read-more {
						position: absolute;
						right: 15px;
						bottom: 10px;
						.btn {
							display: inline-block;
							text-decoration: underline;
							padding: 5px 10px;
							font-size: 12px;
							line-height: 1.5;
						}
					}
				}
			}
		}
	}

	// Pagination style
	.ymc-pagination {
		list-style: none;
		margin: 0;
		min-height: 0;

		&.pagination-numeric {
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin-right: 15px;
				a {
					padding: 5px 10px;
					text-decoration: none;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		&.pagination-load-more {
			text-align: center;
			.btn-load {
				padding: 5px 10px;
				text-decoration: none;
				transition: .3s;
				color: #098ab8;
				border: 1px solid #098ab8;
				font-size: 14px;
			}
		}
	}

}






